:root {
    --black: #000000;
    --hover-bg: #272626;
    --color-1: #3b4069;
    --color-2: #ece0d5;
    --color-3: #f0f3eb;
    --color-4: #ff593e;
    --color-5: #ffffff;
    --font-weight-bold : 700;
    --font-weight-slim: 300;
    --flavor-text: #929292;
    --border-radius: 20px; 
}

* {
    color-scheme: light;
    line-height: 1.5;
    box-sizing: border-box;
}

html {
    margin: 0;
}

body, .top-panel, .nav-ref, .survey-body, .survey-element {
    display: flex;
    align-items: center;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-2);
    flex-direction: column ;    
}   

.top-panel, .nav-ref, .survey-body {
    border-radius: var(--border-radius);
    align-items: center;
}

h1 {
    font-weight: var(--font-weight-slim);

}

.svg {
    width: fit-content;
}

.top-panel {
    padding: 10px;
    gap: 5%;
    width: 90%;
    background-color: var(--color-4);
    position: relative;
    margin: auto;
    overflow-wrap:  break-word;
    border-radius: var(--border-radius);
    margin-bottom: 100px;
}

a.nav-ref {
    background-color: var(--color-3);
    padding: 1%;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    overflow-wrap: anywhere;
    transition: 0.3s;  
    flex-shrink: 1;  
}

.nav-ref:link {
    color: var(--black)
}

.nav-ref:visited {
    color: var(--black);
}


.nav-ref:hover {
    background-color: var(--hover-bg);
    color: var(--color-3);
}


.survey-form {
    display: flex;
    flex-direction: column; 
    width: 80%;
}

.survey-head-title {
    font-weight: var(--font-weight-bold);
}

.survey-element-head {
    background-color: var(--color-5);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    padding: 0 4% 0;
    background-color: (var);
    flex-direction: column;
    align-items: flex-start;
}

.survey-element-body {
    background-color: var(--color-5);
    border-radius: var(--border-radius);
    padding: 6% 6% 6%;
    background-color: (var);
    flex-direction: column;
}

.survey-body-question, #example-answer, .question-content {
    width: 100%;
}

.survey-body-question{ 
    margin-bottom: 10%;
}
.survey-question-title {
    margin: auto;
}

.survey-flavor {
    margin: auto;
    color: var(--flavor-text);
    font-style: italic;

}

.question-content {
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 100%;
}

#example-answer-textarea {
    --padding: 10px;
    line-height: 1.3;
    border: 1px solid var(--black);
    border-color: var(--black);
    resize: vertical;
    min-height: 130px;
    margin: auto;
    max-width: 100%;
    padding: var(--padding);
    
    border-radius: calc(var(--border-radius) - var(--padding));
}

#example-answer::placeholder {
    font-family: Arial, Helvetica, sans-serif;
} 

.survey-submit {
    border-radius: var(--border-radius);
    background-color: var(--color-4);
    text-decoration: none;
    color: var(--black);
    padding: 1% 1% 1%;
    font-size: larger;
    font-weight: var(--font-weight-bold);
    transition: 0.4s;
    padding: 9px; 
    
}

.survey-submit:hover {
    background-color: var(--hover-bg);
    color: var(--color-5);

}


@media  {
    min-width: ;
    
}